/* variable */
:root {
  --color-primary: #ec523c;
  --color-grey-light: #d3d3d3;
  --color-grey-dark: #272a31;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

/* base */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

/* typography */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
}

.heading-secondary {
}

.heading-tertiary {
}

.paragraph {
}

/* utilities */

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}
