/* variable */
:root {
  --color-primary: rgb(236, 82, 60);
  --color-grey-light: #d3d3d3;
  --color-grey-dark: #272a31;
  --color-white: #fff;
  --shadow-dark: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --shadow-light: 0 0.5rem 15rem rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
}

/* base */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

/* typography */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ec533c88, #ec533cc9),
    url(./images/background/background-image-0.jpg) 0 0 / cover no-repeat;
  color: var(--color-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-secondary {
  font-weight: 900;
  color: var(--color-grey-dark);
  font-size: 3rem;
  text-transform: uppercase;
}

.heading-tertiary {
  font-size: 2.2rem;
  position: relative;
}

.heading-tertiary::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--color-primary);
  font-size: 2.2rem;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.paragraph {
  font-size: 1.7rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 4rem 5rem;
  border: none;
  font-size: 2rem;
  text-transform: capitalize;
  border-radius: var(--radius);
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* utilities */

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.c-light {
  color: var(--color-white);
}

/* style header */

.header {
  height: 100vh;
  background-image: linear-gradient(
      90deg,
      rgb(255, 255, 255),
      rgba(212, 212, 212, 0.224)
    ),
    url("./images/background/background-image-3.jpg");
  background-size: cover;
}

.navigation {
  background-color: transparent;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav-toggle {
  font-size: 2.5rem;
  color: var(--color-grey-dark);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-link {
  display: none;
}

.logo {
  height: 40px;
}

.list-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  background-color: #fff0;
  box-shadow: var(--shadow-light);
}

.show-links {
  height: 32rem;
  padding: 2rem;
}

.item-link {
  padding: 0.5rem;
}

.item-link a {
  font-size: 1.6rem;
  color: var(--color-grey-dark);
}

.item-link a:hover {
  color: var(--color-primary);
}

.nav-btn {
  padding: 1rem;
  background-color: transparent;
  border: 3px solid var(--color-primary);
  margin-top: 1rem;
}

.headline {
  padding: 1rem;
}

.headline-paragraph {
  padding: 1rem;
  border: 3px solid var(--color-white);
}

.sub-title-1 {
  font-size: 3rem;
  color: var(--color-primary);
}

.sub-title-2 {
  color: var(--color-grey-dark);
  font-size: 2.5rem;
  text-transform: capitalize;
}

/***  style services **/
.services {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url(./images/background/background-image-4.png);
  background-repeat: repeat;
  padding: 4rem 1rem;
}

.box-services {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  background-color: #ffffff46;
  padding: 2rem;
}

.box-img {
  width: 4rem;
}

.box-title {
  color: var(--color-primary);
  font-size: 1.6rem;
}

/*  style section team   */

.team {
  padding: 2rem 0;
  background-color: var(--color-white);
}

.team-box {
  display: flex;
  gap: 2rem;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 20px);
  overflow: hidden;
  flex: 0 0 40%;
}

.team-img-back {
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.team-img-front {
  width: 100%;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.team-profile {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.team-name {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
}

.team-description {
  color: var(--color-primary);
  font-size: 1.2rem;
  font-style: italic;
  position: relative;
}

.team-description::after {
  content: "";
  width: 10%;
  height: 2px;
  background-color: var(--color-grey-light);
  font-size: 2rem;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.team-text {
  font-size: 1.2rem;
}

.btn-see-more {
  padding: 1rem 4rem;
  background-color: transparent;
  border: 2px solid var(--color-grey-dark);
  width: 90%;
}

.btn-see-more span {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 400;
}

.btn-see-more i {
  color: var(--color-primary);
  font-size: 1.6rem;
  margin-left: 2rem;
}

@media screen and (min-width: 768px) {
  .navigation {
    background: var(--color-white);
    box-shadow: var(--shadow-light);
  }

  .container {
    max-width: 120rem;
    margin: 0 auto;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .list-links {
    height: auto;
    display: flex;
  }
}
